body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 9pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    font-size: 11px !important;
}

.btn {
    border-radius: 0px;
}

.navbar-default {
    border-radius: 0px;
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
    border-color: transparent;
    background-color: #434343;
}

.navbar-default .navbar-brand {
    color: #ffffffbf;
}

.navbar-default .navbar-brand:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    color: #ffffffbf;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ffffff;
}

.go-button {
    font-size: 9px;
}

.navbar-header {
    border-right: 1px solid #99999966;
    margin-right: 10px !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #434343;
    color: #ffffff;
    border-bottom: 5px solid #329FDA;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: #eee;
}

.form-control[disabled], fieldset[disabled] .form-control {
    background-color: transparent;
}

.form-control[readonly]{
    cursor:not-allowed;
}

.form-control {
    border-radius: 0px;
    height: 30px;
}

textarea {
    min-height: 60px;
}

.panel-parent > .panel-body {
    background-color: #f4e7ff61;
}

.panel-default > .panel-body > .panel-default > .panel-heading {
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
}

.panel-default > .panel-body > .panel-default > .panel-heading > .panel-title {
   font-size: 9pt;
   font-weight:600;
}

.panel-heading {
    border-top: #ddd;
}

.panel-title {
    font-size: 14px;
}

.pagination-input {
    width: 40px;
    text-align: center;
}

.pick-list-box {
    height: 200px !important;
    overflow-y: auto;
}

.pick-list-box-btn {
    width: 60px;
    margin-bottom: 5px;
    font-size: 12px;
}

.display-flex {
    display: flex;
}

.container-top-padding {
    padding-top: 60px;
}

.text-neutral {
    color: #333 !important;
}

.input-neutral {
    border-color: #ccc !important;
}

.required {
    border-left: 4px solid #a94442;
}

input[type=checkbox], input[type=radio] {
    margin: 8px 0 0;
}

.input-group {
    max-width: 280px;
}

.input-group > input {
    max-width: 245px;
}

.input-group > .input-group-btn button {
    height: 30px;
    font-size: 11px;
}
.form-control-feedback{
    z-index: 5;
}

.form-control-feedback > img {
    height: 30px;
    margin-bottom: 5px
}

.center {
    margin-left: auto;
    margin-right: auto;
}
