body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 9pt;
    font-weight: 500;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    font-size: 11px !important;
}

.btn {
    border-radius: 0px;
}

.go-button {
    font-size: 9px;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    background-color: #eee;
}

.form-control[disabled], fieldset[disabled] .form-control {
    background-color: transparent;
}

.form-control[readonly]{
    cursor:not-allowed;
}

.form-control {
    border-radius: 0px;
    height: 30px;
}

textarea {
    min-height: 60px;
}

.panel-parent > .panel-body {
    background-color: #f4e7ff61;
}

.panel-default > .panel-body > .panel-default > .panel-heading {
    box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 1px 1px 1px #666;
}

.panel-default > .panel-body > .panel-default > .panel-heading > .panel-title {
   font-size: 9pt;
   font-weight:600;
}

.panel-heading {
    border-top: #ddd;
}

.panel-title {
    font-size: 14px;
}

.pagination-input {
    width: 40px;
    text-align: center;
}

.pick-list-box {
    height: 200px !important;
    overflow-y: auto;
}

.pick-list-box-btn {
    width: 60px;
    margin-bottom: 5px;
    font-size: 12px;
}

.display-flex {
    display: flex;
}

.container-top-padding {
    padding-top: 80px;
}

.text-neutral {
    color: #333 !important;
}

.input-neutral {
    border-color: #ccc !important;
}

.required {
    border-left: 4px solid #a94442;
}

input[type=checkbox], input[type=radio] {
    margin: 8px 0 0;
}

.input-group {
    max-width: 280px;
}

.input-group > input {
    max-width: 245px;
}

.input-group > .input-group-btn button {
    height: 30px;
    font-size: 11px;
}
.form-control-feedback{
    z-index: 5;
}

.form-control-feedback > img {
    height: 30px;
    margin-bottom: 5px
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.col-sm-10 > .jqte {
    max-width: 280px;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 0px;
    margin-bottom: 0px;
}
.jqte_tool.jqte_tool_1 .jqte_tool_label {
    height: 22px !important;
}

@media (min-width: 1200px) {
    .container {
        width: 1570px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 1370px;
    }
}

.navbar-header {
    display:inline-flex;
}

.pager {
    margin: 10px 0 !important;
}

p.table-empty {
    text-align: center;
    padding: 15px 0;
    margin: 0 !important;
}

.list-group-item {
    border: none;
    height: 33px;
}

.table tbody tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.table-view td {
    width: 25%;
}