@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/jquery-te-1.4.0.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Views/Home/login.css" rel="stylesheet" />
    <title></title>
</head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4 col-md-offset-4 login-div">
                    <div class="login-title">
                        <p>Bigfoot Ventures</p>
                    </div>
                    <div class="form-group">
                        <label for="usr">Email:</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="pwd">Password:</label>
                        <input type="password" class="form-control">
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="">Remember password</label>
                    </div>
                    <div class="form-group mar-bottom-10">
                        <a>Forgot password?</a>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
