.th-name {
    width: 12.5%;
}

.th-bf-company {
    width: 15%;
}

.th-counterpart {
    width: 20%;
}

.th-applicability {
    width: 5%;
}

.th-object-of-agreement {
    width: 17.5%;
}

.th-type {
    width: 5%;
}

.th-date-of-signature {
    width: 15%;
}

.th-created-by {
    width: 10%;
}
