@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4e7ff61;
}

.login-div {
    background-color: #24292e;
    color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.container {
    margin-top:10%;
}

.login-title p {
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.mar-bottom-10 {
    margin-bottom: 10px;
}