.th-name {
    width: 12.5%;
}

.th-bf-company {
    width: 25%;
}

.th-counterpart {
    width: 25%;
}

.th-applicability {
    width: 5%;
}

.th-object-of-agreement {
    width: 7.5%;
}

.th-type {
    width: 7.5%;
}

.th-date-of-signature {
    width: 7.5%;
}

.th-created-by {
    width: 10%;
}