@using BigFootVentures.Application.Web.Models
@using BigFootVentures.Application.Web.Models.Utilities

@{
    if (Model.PageMode == VMEnums.PageMode.View || Model.PageMode == VMEnums.PageMode.PersistSuccess)
    {
        <button type="button" onclick="window.open('@Url.RouteUrl($"{Model.Name}Edit", new { ID = Model.Record.ID })', '_self')" target="_blank"><i class="fa fa-edit"></i> Edit</button>

        if (SessionUtils.GetUserAccount().Roles.Contains("Administrator"))
        {
            <button type="button" onclick="OnRecordDelete('@Url.Action($"{Model.Name}Delete", new { ID = Model.Record.ID })');"><i class="fa fa-trash-o"></i> Delete</button>
        }
    }
    else
    {
        <button type="submit"><i class="fa fa-save"></i> Save</button>

        if (Model.Record.ID > 0)
        {
            <button type="button" onclick="window.open('@Url.RouteUrl($"{Model.Name}View", new { ID = Model.Record.ID })', '_self')" target="_blank"><i class="fa fa-stop-circle"></i> Cancel</button>
        }
    }
}

<script src="~/Scripts/Views/Shared/_Components/Page/_PageEditViewFooter.js"></script>