@using BigFootVentures.Application.Web.Models

@{
    if (Model.PageMode == VMEnums.PageMode.PersistSuccess || Model.PageMode == VMEnums.PageMode.PersistError)
    {
        <div class="alert alert-@(Model.PageMode == VMEnums.PageMode.PersistSuccess ? "success" : "danger")">
            <i class="fa fa-info-circle"></i>
            @Html.Raw(Model.PageMode == VMEnums.PageMode.PersistSuccess ? Model.SuccessMessage : Model.ErrorMessage)
        </div>
    }

    if (TempData.ContainsKey("IsPostedFile"))
    {
        <div class="alert alert-success">
            <i class="fa fa-info-circle"></i>
            File <strong>@(TempData["IsPostedFile"] as string)</strong> has been uploaded successfully!
        </div>

        TempData.Remove("IsPostedFile");
    }
}
