<link href="~/Content/Views/Home/ChangePassword.css" rel="stylesheet" />

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ChangePasswordPost", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
{
    if (TempData.ContainsKey("IsSuccess"))
    {
        var isSuccess = (bool)TempData["IsSuccess"];

        TempData.Remove("IsSuccess");

        <div class="alert alert-@(isSuccess ? "info" : "danger")">
            <p>@(isSuccess ?
                    "Password have been changed successfully." :
                    (string)TempData["ErrorMessage"])</p>
        </div>
    }

    <div class="panel panel-default panel-parent">
        <div class="panel-heading">
            <span class="panel-title">
                Change Password
            </span>
            <span class="panel-title pull-right">
                <i class="fa fa-edit"></i>
            </span>
        </div>
        <div class="panel-body">
            <!-- START: Password Details -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">Password Details</h4>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Current Password</label>
                            <div class="col-sm-4">
                                @Html.Password("currentPassword", null, new { @class = "form-control required", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">New Password</label>
                            <div class="col-sm-4">
                                @Html.Password("newPassword", null, new { @class = "form-control required", @required = "required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Confirm Password</label>
                            <div class="col-sm-4">
                                @Html.Password("confirmPassword", null, new { @class = "form-control required", @required = "required" })
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <!-- END: Password Details -->
        </div>
        <div class="panel-footer">
            <button type="submit"><i class="fa fa-save"></i> Save</button>
        </div>
    </div>

    <script src="~/Scripts/Views/Account/ChangePassword.js"></script>
}

